@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Permanent+Marker&display=swap');

.main {
  max-width: 960px;
  margin: 0px auto;
  padding: 0px 15px;
  min-height: 100vh;
}

.header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.notes-title {
  color: #2a2a2a;
  font-size: 38px;
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
  font-weight: 400;
}

.notes {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
}

.note {
  box-shadow: 3px 3px 5px #888888;
  background-color: #ffffcc;
  border: 2px solid #999966;
  font-family: 'Caveat', cursive;
  font-size: 2em;
  padding: 10px;
  margin: 20px 0;
  color: rgb(19, 19, 19);
  padding: 20px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
}

.note textarea {
  white-space: pre-wrap;
  background: transparent;
  border: none;
  color: rgb(19, 19, 19);
  resize: none;
  font-size: 1em;
  font-family: 'Caveat', cursive;
}

.note textarea:focus {
  outline: none;
}

.note textarea::placeholder {
  color: rgb(19, 19, 19);
}
.note-save{
    background-color: #FF5733;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    font-size: 0.8em;
    cursor: pointer;
    transition: background-color 0.3s; 
}
.note-save:hover{
    background-color: #E84100;
}