@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
body {
  background-color: #f4f4f4;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Courier New', monospace;
}

